.DS_Store
PROCESSING
PROCESSINGSTART
admin.zip
log-ogr2ogr.txt
testcog.html
spectral.js
.env
.env-sitepredictor
.env-server
tilemaker/
tippecanoe/
venv/
__pycache__
log.txt
*.geojson
*.pbf
*.gpkg
*.gpkg-journal
*.qmd
*.tif
britain-and-ireland-latest.osm.pbf
app/node_modules
build-cli/
build-docker/
geonode/
postgis-docker/
deprecated/
UK_clipping/
app/
tilemaker/
coastline/
fonts/
landcover/
configuration/custom-test.yml
uk-clipping.gpkg-shm
uk-clipping.gpkg-wal
terraform/azure/
sitepredictor/*.csv
sitepredictor/*.log
sitepredictor/machinelearning_legacy/
sitepredictor/census_2011.zip
sitepredictor/output/
sitepredictor/sentimentanalysis/
sitepredictor/clipping_batch*.*
sitepredictor/output*.*
sitepredictor/datasets-source/
sitepredictor/deprecated/
sitepredictor/machinelearning/
sitepredictor/docker-stats-graph/
sitepredictor/finaldata.csv
sitepredictor/finaldata copy.csv
sitepredictor/projects_sentiment_scores_pass1.json
sitepredictor/finaldata_prep_for_R.csv
sitepredictor/TurbineFullInfo_New.csv
sitepredictor/finaldata_viewshed_firstattempt.csv
sitepredictor/repd-q3-oct-2024.csv
sitepredictor/TurbineFullInfo_NewData.csv
sitepredictor/finaldatal_dontchange_v2.csv
sitepredictor/automl.py
sitepredictor/finaldata_old/
sitepredictor/finaldata_postbugfix.csv
sitepredictor/h2o_model/
sitepredictor/household_power_consumption.txt
sitepredictor/testdata_works.csv
sitepredictor/Ellipsis Drive.webloc
sitepredictor/finaldata_temp_works.csv
sitepredictor/output-turbines.csv
sitepredictor/projects_oppositiongroups_boolean.json
sitepredictor/projects_sentiment_scores_pass2.json
sitepredictor/projects_sentiment_scores_pass3.json
terraform/aws/.terraform.lock.hcl
terraform/aws/.terraform.tfstate.lock.info
terraform/aws/.terraform/
terraform/aws/terraform.tfstate
terraform/aws/terraform.tfstate.backup
terraform/gcp/.terraform.lock.hcl
terraform/gcp/.terraform.tfstate.lock.info
terraform/gcp/.terraform/
terraform/gcp/terraform.tfstate
terraform/gcp/terraform.tfstate.backup
test.kml
testtippecanoe.py
openmaptiles-fonts/
sitepredictor/local_newspapers.xlsx
sitepredictor/ChatGPT-unofficial-api-selenium/
sitepredictor/ChromeSelenium.app/
sitepredictor/convertplanit.py
sitepredictor/councils_2016.csv
sitepredictor/councils_2016.qmd
sitepredictor/datasets/
sitepredictor/localauthorities_opencouncildatauk.txt
sitepredictor/projects.json
sitepredictor/projects_sentiment_scores.json
sitepredictor/remote-profile/
sitepredictor/terrain_lowres_withfeatures.tif
sitepredictor/terrain_lowres_withfeatures.tif.aux.xml
sitepredictor/testchatgpt.py
sitepredictor/testviewshed.py
sitepredictor/finaldata_dontchange.csv

!overall-clipping.gpkg
